:root {
  --online: #5EE2A0;
  --my-mssg: #00A0AE;
  --text-light: #4D4F5C;
  --text-dark: #43425D;
  --selected-chat: #eaedf8;
  --border: #F1F1F3;
  --text-white: white;
  --background-img: url("https://img.freepik.com/free-vector/digital-technology-background-with-abstract-wave-border_53876-117508.jpg");
}
